<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.johnpritchard.cpi"
          android:versionCode="1"
          android:versionName="1">

  <uses-feature android:glEsVersion="0x00010001" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <uses-sdk android:minSdkVersion="10"/>

  <application android:name="CPI"
               android:label="@string/app_name"
               android:icon="@drawable/icon">

    <provider android:name="CPIProvider"
              android:exported="true"
              android:authorities="com.johnpritchard.cpi.provider.CPI" />

    <activity android:name="CPIPageStartActivity"
              android:exported="true"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:label="@string/app_name"
              android:windowSoftInputMode="stateAlwaysHidden">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="CPIPageAboutActivity"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:label="@string/app_name"
              android:windowSoftInputMode="stateAlwaysHidden"/>

    <activity android:name="CPIPageIntroActivity"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:label="@string/app_name"
              android:windowSoftInputMode="stateAlwaysHidden"/>

    <activity android:name="CPIPageInventoryActivity"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:label="@string/app_name"
              android:windowSoftInputMode="stateAlwaysHidden"/>

    <activity android:name="CPIPagePracticeActivity"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:label="@string/app_name"
              android:windowSoftInputMode="stateAlwaysHidden"/>

    <activity android:name="CPIPageViewActivity"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:label="@string/app_name"
              android:windowSoftInputMode="stateAlwaysHidden"/>

  </application>

</manifest> 
